* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* styling body */

body {
  background: #e6eff6;
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* styling container */
.container {
  display: grid;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
/* dealing with the top section */

.join-our-community {
  background: #fff;
  padding: 2rem 5rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-our-community h4 {
  padding: 1rem 0;
  color: #bfdf32;
}
.join-our-community h3 {
  color: #3e9e9a;
}
.join-our-community p {
  line-height: 1.5rem;
  color: #b9bcc1;
  margin-left: -7px;
}
/* styling the price section */

.Monthly-Subscription {
  background: hsl(179, 62%, 43%);
  padding: 2rem;
  grid-column: 1/2;
  border-bottom-left-radius: 5px;
  color: #fff;
}

.Monthly-Subscription h3 {
  padding: 0.5rem 0;
}

.Monthly-Subscription .price {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.Monthly-Subscription .price h2,
p {
  padding: 0 0.5rem;
}

.Monthly-Subscription .price p {
  color: #b4fbfd;
}

.Monthly-Subscription .btn-description {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  padding: 1rem 0;
  margin: 0;
}

.btn-description button {
  border: none;
  background: #bfdf32;
  color: #fff;
  padding: 1rem 0;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

/* styling why us section */

.why-us {
  background: hsl(179, 45%, 60%);
  padding: 2rem 3rem;
  grid-column: 2/3;
  border-bottom-right-radius: 5px;
  color: #fff;
  display: grid;
}
.why-us h3 {
  margin-top: 0.6rem;
}
.why-us ul li {
  list-style-type: none;
  line-height: 1.5rem;
  color: #b4fbfd;
}

/* Queries */

@media (max-width: 375px) {
  .container {
    width: 80%;
  }
  .join-our-community {
    grid-column: 1/3;
    padding: 2rem 1.5rem 2rem 1.5rem;
    font-size: 0.8rem;
  }
  .join-our-community h3,
  h4 {
    font-size: 1rem;
  }
  .Monthly-Subscription {
    grid-column: 1/3;
    padding: 1rem 2rem;
  }

  .why-us {
    grid-column: 1/3;
    padding: 1rem 2rem;
  }
  .why-us h3 {
    margin-top: 0.6rem;
    line-height: 2.5rem;
  }
}
